@charset "utf-8";

/* 全体ラップ */
.wrapper{
 max-width: 100%;
}

/* フォント設定 */
html{
 font-size: 100%; /* 16px 1rem=16 */ 
 -webkit-text-size-adjust: 100%;
 color: #323232;
 font-family: 'Kosugi Maru', sans-serif;
}

/* リンク色設定 */
a:hover, a:active {
 color:  #323232;
}

a.no-color-change, a:visited {
 color:  #323232;
}

a{
 color: #323232;
 text-decoration: none;
}

/* イメージ幅設定 */
img{
 max-width: 100%;
 height: auto;
 vertical-align: bottom;
}

/* マウスポインタ設定 */
/* *{
 cursor: url(img/niku4.png),auto;
} */

/* 選択範囲設定 */
::selection
{
 background: lemonchiffon;
 color: #000;
}

/* for Firefox */
::-moz-selection
{
 background: #000;
 color: #ffffff;
}

/* 文字余白スペース設定 */
.webliker{
  margin-right: 10px;
}

/* body設定 */
body{
 margin: 0;
 padding: 0;
 background: linear-gradient(#A9E2F3,#EFFBFB)fixed;
 line-height: 1.7;
}

/* ヘッダー設定 */
.header{
 box-sizing: border-box;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding: 20px 50px;
}

.h1{
 align-items: center;
}

/* ロゴアイコン設定 */
.logo{
 width: 210px;
 display: table-cell;
 vertical-align: middle;
}

.logo:hover{
 transform: scale(1.1,1.1);
 transition-duration: 0.5s;
}

/* メニューバー設定 */
.main__nav{
 display: flex;
 width: auto;
}

.main__nav li a{
 padding: 10px 20px;
 background-image: url(img/niku2.png);
 background-size: 30px 30px;
 background-repeat: no-repeat;
 background-position: center center;
 
 font-size: 1.2rem;
 margin: 0;
 text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
             -1px 1px 0 #FFF, 1px -1px 0 #FFF,
             0px 1px 0 #FFF,  0-1px 0 #FFF,
             -1px 0 0 #FFF, 1px 0 0 #FFF;
}



.nav__line{
 border-right: 4px dotted #fffff0; 
}

.main__nav li a:hover{
 background-size: 40px 40px;
 transition-duration: 0.5s;
}      

.main__nav li{
 /* padding: 10px 20px 10px 20px; */
 display: inline;
 vertical-align: middle;

border-left: 4px dotted #FFFEF9; 
}

/* キービジュアル設定 */
.keyvisual{
 width: 100%;
 overflow: hidden;
}

.keyvisual__container{
 width: 70%;
 margin: 20px auto;
}

/* キービジュアル画像設定 */
.keyvisual__container img{
 border-radius: 120px;
 height: auto;
 box-shadow: 0 5px 5px 0 #67a5cfa6;
}

/* キービジュアル背景ループ設定 */
.keyvisual__anime{
 background-image: url("img/kumo.png");
 background-repeat: repeat-x;
 background-position: 50% 50%;
 animation: kumoloop 30s linear infinite;
 animation-fill-mode: backwards;
} 

@-webkit-keyframes kumoloop{
 0% {-webkit-background-position: 0,0;}
 100%{-webkit-background-position: -1280px, 0;}
}

@keyframes kumoloop {
 0% { background-position-x: 0, 0;}
 100% { background-position-x: -1280px, 0 ;}
} 

/* イントロ設定 */
.intro__container{
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 20px 0;
 /* イントロ内背景 */
 background: repeating-linear-gradient(-45deg,#DAE9EE 0,#DAE9EE 20px,#FFFEF9 20px,#FFFEF9 40px);
}

.intro{
 width: 80%;
 text-align: center;
 font-size: 1.1rem;  
}

.intro__container h2 p{
 line-height: 1.2rem;
}

.intro__container h2{
 text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
             -1px 1px 0 #FFF, 1px -1px 0 #FFF,
             0px 1px 0 #FFF,  0-1px 0 #FFF,
             -1px 0 0 #FFF, 1px 0 0 #FFF;
}

/* イントロ部分背景画像設定 */
.intro__item{
 height: 50px;
 margin-top: 50px;
 background-image: url(img/niku1.png); 
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 40px 40px;
}

.intro p:last-child{
  margin-bottom: 50px;
}

/* プロフィール枠設定 */
#profile{
 display: flex;
 justify-content: center;
 vertical-align: middle;
 margin-bottom: 40px;
}

.profile__container{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.pimg__wrap{
 margin: 10px;
 width: 20%;
}

/* プロフィールイメージ設定 */
.profile__img{
 border-radius: 50%;
 max-width: 100%;
 height: auto;
}

/* プロフィールテーブル設定 */
.ptable__wrap{
 width: 500px;
 margin: 20px;
}

table{
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 text-align: left;
 border-collapse: collapse;
}

/* テーブル内共通設定 */
td,th{
 /* padding: 5px 10px; */
 padding: 15px;
 height: 60px;
}

td{
 background-color: #FFFEF9;
 border-top: dotted 3px  #525252;
}

th{
 background-color: #525252;
 color: #fff;
 /* width: 120px; */
 width: auto;
 position: relative;
}

.ptable__d01{
 border-style: none;
}
 
/* テーブル枠各設定 */
.ptable__header{
 text-align: center;
 border-radius: 15px 15px 0 0;
}

.ptable__header::before{
 border: none;
}

.ptable__h03{
 border-radius: 0 0 0 15px;
}

.ptable__d03{
 border-radius: 0  0 15px 0;
}

th::before{
 content: "";
 display: block;
 border-top: 3px dotted #fff;
 position: absolute;
 top: 0px;
 left: 0px;
 z-index: 1;
 width: 100%;
}

/* テーブル内画像設定 */
.ptable__title{
 width: 40%;
 margin: auto;
 background-image:
           url(img/niku2.png),
					 url(img/niku2.png);
 background-repeat:
           no-repeat,
	         no-repeat;
 background-position:
           left 50%,
           right 50%;
 background-size: contain;
}

/* プロフィールスライドイン */
.profile__container {
 opacity: 0;
 transform : translate(0, 50px);
 transition : all 1500ms;
}

.profile__container.scrollin{
 opacity: 1;
 transform: translate(0, 0);
}

/* 草背景設定 */
.reco__bg{
 width: 100%;
 height: 50px;
 background-image: url(img/kusa.png);
 background-repeat:repeat-x;
 position: absolute;
 top: -40px;
}

/* recommend共通設定 */
.recommend__container{
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background: -moz-linear-gradient(bottom, #DCE35B,#8CC63F);
 background: -webkit-linear-gradient(bottom, #DCE35B,#8CC63F);
 background: linear-gradient(to top, #DCE35B,#8CC63F );
 position: relative;
}

.recommend{
 width: 80%;
 margin-bottom: 20px;
}

.reco__album, .reco__contents{
 padding: 20px;
 width: 60%;
 height: auto;
 margin: 40px auto 20px auto;
 background-color: #FFFEF9;
 border-radius: 10px;
 text-align: center;
}

.recommend p{
 padding: 10px;
}

/* recommend画像設定 */
figure img{
 width: 80%;
 height: auto;
 border-radius: 5px;
 margin-bottom: 15px;
}

.img__hover:hover{
 filter: opacity(80%);
 -webkit-transition: all 1s;
 transition: all 1s;
}

/* recommendボタン設定 */
.btn1{
 margin: 15px auto 5px auto;
 color: #FFFEF9;
 background-color: #525252;
 box-shadow: 0 5px #3f3f3f;
 border-radius: 50px;
 width: 80%;
}

.btn1:hover{
 box-shadow: none;
 transform: translate(0, 5px);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

/* GIFアニメ設定 */
.gif__anime01{
 position: absolute;
 z-index: 2;
 top: -5%;
 left: 5%;
}

.gif__anime02{
 position: relative;
 text-align: center;
}

/* アバウトへ設定 */
.to__about__container{
  width: 60%;
  padding: 30px 0 30px 0;
  background-color: #FFFEF9;
  text-align: center;
  margin: 40px auto 40px auto;
  letter-spacing: -0.1rem;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.to__about__container:before,
.to__about__container:after {
  position: absolute;
  left: 0;
  width: 100%;
  content: '';
  border-top: 4px dotted #525252;
}

.to__about__container:before {
  top: 6px;
}

.to__about__container:after {
  bottom: 6px;
}

.to__about__container a{
 font-size: 1.3rem;
 padding: 10px;
}

/* ホバー時 */
.to__about__container:hover {
  letter-spacing: 0.1rem;
}

/* フッター設定 */
footer{
 width: auto;
 height: auto;
 background-color: #d2b48c;
 position: relative;
}

.footer__nav{
 padding: 20px 0 15px 0;
 list-style: none;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* フッターホバー設定 */
footer ul li:hover{
 text-shadow:1px 1px 0 #eae1cf, -1px -1px 0 #eae1cf,
             -1px 1px 0 #eae1cf, 1px -1px 0 #eae1cf,
             0px 1px 0 #eae1cf,  0-1px 0 #eae1cf,
             -1px 0 0 #eae1cf, 1px 0 0 #eae1cf;
 transition-duration: 0.5s;             
}

/* フッター背景設定 */
.footer__bg{
 width: 100%;
 height: 50px;
 background-image: url(img/foo.png);
 background-repeat:repeat-x;
 position: absolute;
 top: -30px;
}


.footer__nav li a{
 padding: 10px 20px;
  background-image: url(img/niku1.png);
 background-repeat: no-repeat;
 background-size: contain;
 padding-left: 1.5rem;
}


/* copyright設定 */
.copyright{
  text-align: center;
}

/* fixed設定 */
.page__top {
 position: fixed;
 right: -0.6rem;
 bottom: 14%;
 z-index: 10; 
} 

.page__top img{
 width: 100px;
 height: a;
} 


/* fixedアニメーション設定 */
.page__top:hover {
 -webkit-animation:hurihuri 0.5s infinite linear alternate;
 animation:hurihuri 0.5s infinite linear alternate;
}

@-webkit-keyframes hurihuri {
 0% {-webkit-transform:translate(0, 0) rotate(-5deg);}
 50% {-webkit-transform:translate(0, -5px) rotate(0deg);}
 100% {-webkit-transform:translate(0, 0)rotate(5deg);}
}

@keyframes hurihuri {
 0% {transform:translate(0, 0) rotate(-5deg);}
 50% {transform:translate(0, 0)rotate(5deg);}
 100% {transform:translate(0, -5px) rotate(0deg);}
}

/* index レスポンシブ */
@media screen and (max-width: 968px){
  /* ここに968px以下向けのスタイルを記述 */
.header {
 flex-direction: column;
}

.header h1 {
 margin: 1rem auto 2rem;
}

}

@media screen and (max-width: 780px){
  /* ここに780px以下向けのスタイルを記述 */
.header li{
 display: block;
 border-style: none;
}

}

@media screen and ( max-width: 768px){
  /* ここに７６８px以下向けのスタイルを記述 */
html{
 font-size: 1.1rem;
}

.main__nav{
 display: block;
}

.header li{
 margin: 0;
 text-align: center;
}

.profile__container{
 box-sizing: border-box;
 flex-direction: column;
}

.pimg__wrap{
 width: 40%;
}

.ptable__title{
 width: 50%;
}

th{
 width: 25%;
} 

.reco__album, .reco__contents{
 width: 80%;
}

.gif__anime01{
 width: 20%;
}

.gif__anime02 img{
 width: 35%;
 height: auto;
}

}

@media screen and (max-width: 760px){
  /* ここに760px以下向けのスタイルを記述 */
.footer__nav{
 flex-direction: column;
}

}

@media screen and (max-width: 630px){
  /* ここに600px以下向けのスタイルを記述 */
.to__about__container{
  width: 100%;
}

}

@media screen and (max-width: 426px){
 /* ここに426px以下向けのスタイルを記述 */
.keyvisual__container{
 width: 90%;
}

.keyvisual__container img{
 border-radius: 90px;
}

h2{
 font-size: 1.1rem;
}

.keyvisual__anime{
 background-size:60% auto;
 animation: none;
} 

.pimg__wrap{
 width: 50%;
}

.ptable__wrap{
 width: 80%;
}

.ptable__title{
  width: 70%;
}

.reco__album, .reco__contents{
 width: 100%;
} 

.btn1{
 width: 90%;
 height: 45px;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center
}

figure img{
 width: 90%;
}

.gif__anime01{
 top: -3%;
}

.page__top{
 width: 60px;
 bottom: 13%;
} 

.to__about__container a{
 font-size: 1rem;
}

}

@media screen and (max-width: 376px){
 /* ここに376px以下向けのスタイルを記述 */
th{
 width: 10%;
} 

.page__top {
 right: -0.6rem;
} 

}

@media screen and (max-width: 320px){
  /* ここに320px以下向けのスタイルを記述 */
.keyvisual__anime{
 background-size:55% auto;
 animation: none;
} 

.ptable__title{
 width: 85%;
} 

.pimg__wrap{
 width: 70%;
}

.recommend{
 width: 85%;
}

.reco__album, .reco__contents{
 padding: 10px;
}

}

/* -------------- */
/* album.html CSS */

/* アルバム枠設定 */
.common__container{
 margin: 20px 0;
 width: 100%;
 height: auto;
 text-align: center;
 /* イントロ内背景 */
 background: repeating-linear-gradient(-45deg,#DAE9EE 0,#DAE9EE 20px,#FFFEF9 20px,#FFFEF9 40px);
}

.common__intro h3{
 font-size: 1.5rem;
 padding: 20px 0;
}

/* アルバム枠設定 */
.gallery__container {
 margin: 50px auto 50px auto;
}

.common__info{
 margin: 30px 0 20px 0;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.common__info h3{
 width: 50%;
 font-size: 1.2rem;
 text-align: center;
 position: relative;
 padding: 0.7em 1em;
 margin: 0 auto 15px auto;
 background-image: url(img/niku2.png);
 background-size: 40px 40px;
 background-repeat: no-repeat;
 background-position: center center;
}

.common__info h3:before,
.common__info h3:after {
  position: absolute;
  content: '';
}

.common__info h3:after {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 5px solid #000;
  border-left: 4px solid #000;
}

.common__info h3:before {
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-right: 5px solid #000;
  border-bottom: 4px solid #000;
}

.common__info p{
 font-size: 0.9rem;
 text-align: center;
 line-height: 170%;
 padding: 0;
}

/* アルバム写真部分枠 */
.gallery__wrap{
 width: 80%;
}

/* 写真設定 */
.gallery__wrap img{
 border-radius: 10px;
}

.modal__btn{
 display: block;
 text-align: center;
}

/* 写真ホバー設定 */
.gallery__item:hover{
 transform: translate(0, -5px);
 opacity: 80%;
 transition: all 0.2s;
}

/* モーダル */
.modal_trigger {
  margin: 30px auto 100px auto;
  display: flex;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4,1fr);
}

.modal_trigger li {
  width: 80%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  text-align: center;
  position: relative;
  margin: auto;
}

.modal_box {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
}

.modal_box p{
margin: 10px auto 0 auto;
}

.modal_bg {
  background-color: #1e1e1ee6;
  height: 100%;
  width: 100%;
}

.modal_inner {
  background-color: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
}

.modal_close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 2rem;
}
/* モーダルウィンドウここまで */

/* ホームに戻るボタン */
.back__home{
 width: auto;
 height: auto;
 padding: 10px;
}

.back__home{
 font-size: 0.8rem;
 width: 300px;
 height: auto;
 text-align: center;
 margin: 50px auto 100px auto;
}

.btn2{
 color: #FFFEF9;
 background-color: #525252;
 box-shadow: 0 5px #3f3f3f;
 border-radius: 50px;
 width: 100%;
 height: 100%;
}

.contents__txt__inner{
  width: 95%;
  margin: auto;
}
 
/* ホームに戻るボタン ホバー */
.btn2:hover{
 box-shadow: none;
 transform: translate(0, 5px);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

/* album レスポンシブ */
@media screen and (max-width: 968px){
 /* ここに968px以下向けのスタイルを記述 */
.common__info{
line-height: 1.5rem;
}

}

@media screen and ( max-width: 768px){
  /* ここに７６８px以下向けのスタイルを記述 */
.modal_trigger{
  grid-template-columns: repeat(3,1fr);
}

}

@media screen and (max-width: 600px){
  /* ここに600px以下向けのスタイルを記述 */
.common__info h3{
 width: 80%;
 margin: auto;
}

.modal_trigger{
  grid-template-columns: repeat(2,1fr);
}

.btn2{
 width: 80%;
 height: 45px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
}

}

@media screen and (max-width: 480px) {
.contents__container{
  width: 80%;
}

/* モーダルウィンドウ */
.modal_trigger {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal_inner {
 width: 90%;
 padding: 15px;
}

.modal_close {
 top: -6px;
 font-size: 2.2rem;
}

.modal_block img{
padding-top: 25px;
}

.modal_block p{
padding-bottom: 15px;
}

.common__info p{
  padding-top: 10px;
}
/* モーダルウィンドウここまで */

.modal_trigger {
  gap: 20px;
}

}

@media screen and ( max-width: 425px){
  /* ここに425px以下向けのスタイルを記述 */
.common__info h3{
 width: 80%;
 margin: auto;
}

}

@media screen and (max-width: 375px){
  /* ここに376px以下向けのスタイルを記述 */
.common__info{
  height: auto;
}

}

/* -------------- */
/* contents.html CSS */

.contents__01{
  margin-bottom: 100px;
}

.contents__box01{
  margin-bottom: 2rem;
}

/* 柴犬あるある枠設定 */
.contents__container {
 width: 60%;
 margin: 50px auto 50px auto;
}

/* 柴犬あるある画像設定 */
.contents__01 img{
  border: 8px solid #FFFEF9;
}

.contents__box01 img{
  width: 25%;
}

.contents__box01__img01{
 border-radius: 30% 60% 60% 50% / 80% 40% 70% 30%;
}

.contents__box01__img02{
  margin: 0 15px 0 0;
  border-radius:  80% 40% 70% 30% / 30% 60% 60% 50%;
}

/* 柴犬あるあるテキスト部分設定 */
.contents__txt__box01, .contents__txt__box02{
  padding: 15px 0;
}

.contents__txt__box01 h3, .contents__txt__box02 h3{
  margin-bottom: 10px;
}

.contents__txt__box01 p,
.contents__txt__box02 p{
 line-height: normal;
}

.title__big{
  font-size: 2.2rem;
  font-weight: bold;
}

.title__small{
  font-size: 0.70rem;
}

/* 見出し装飾 */
.contents__box01 h3{
 margin-bottom: 20px;
 position: relative;
}

.contents__box01 h3:after{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 80%;
 height: 6px;
 content: '';
 background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
 background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}

/* 記事表示設定 */
.contents__box01{
 display: flex;
 align-items: center;
}

.contents__box01:nth-child(odd){
 flex-direction: row-reverse;
}

/* 柴犬事情設定 */
.contents__box02__wrap{
 display: flex;
 justify-content: space-between;
 /* justify-content: center; */   /* 記事をセンター表示 */
 flex-wrap: wrap;
 margin-top: 1rem;
}

.contents__box02{
  width: 45%;
  margin: 30px 0;
}

/* 柴事情見出し装飾 */
.number{
  color:  #FFFEF9;
  background-color: #363636; /* #525252だとぼやける */
  width: 4rem; 
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 2.3rem;
}

.contents__box02 h3{
  color:  #FFFEF9;
  background-color: #363636;
  margin-top: -25px;
  text-align: center;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

/* 柴事情テキスト部分 */
.contents__txt__box03{
background-color: whitesmoke;
border-radius: 0 0 20px 20px;
padding: 25px 30px;
text-align: left;
line-height: normal;
}

/* contents レスポンシブ */
@media screen and ( max-width: 768px){
  /* ここに７６８px以下向けのスタイルを記述 */
.contents__container{
  width: 80%;
}

}

@media screen and ( max-width: 480px){
  /* ここに480px以下向けのスタイルを記述 */
.contents__box01{
 margin: 4rem auto;
}

.contents__box01{
 display: block;
 text-align: center;
}

.contents__box01 img{
 width: 50%;
}

.contents__txt__box01,
.contents__txt__box02{
  text-align: left;
  padding: 0;
}

.contents__box02__wrap{
  margin-top: 1rem;
}

.contents__box02{
width: 100%;
}

.contents__txt__box01 h3::after,
.contents__txt__box02 h3::after{
 width: 100%;
}

}

/* -------------- */
/* abput.html CSS */

/* aboutページ枠 */
.about__container{
  width: 60%;
  margin: auto;
}

.about__container img{
 border-radius: 0;
}

.about__container section{
  margin:  40px auto;
}

.common__about{
 padding: 20px;
 background-color: #FFFEF9;
}

.about__txt__decoration{
  font-size: 0.9rem;
  border-bottom: 1.5px solid #525252;
  margin-bottom: 10px;
}

.common__about h4{
  padding: 0 0 0 6px;
 border-left: 5px solid #ffbf7f;
 background: #ffeddb;
}

.font__small{
font-size: 1rem;
font-weight: normal;
}

.about__box01{
  padding: 5px;
}

.about__box01 p{
 padding-left: 10px;
}

.about__pdf{
 margin-top: 15px;
 text-align: right;
 color: #ffbf7f;
 text-decoration: underline;
}

.about__comp__container{
  display: flex;
  align-items: flex-start;
}

.about__comparison01{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.about__comparison__box{
  text-align: center;
}

.about__comparison02 img{
  width: 15%;
}

.about__goal{
  border-bottom: 1px solid #525252;
  padding: 5px;
}

/* abput レスポンシブ */
@media screen and ( max-width: 768px){
  /* ここに７６８px以下向けのスタイルを記述 */
.about__container{
  width: 80%;
}

.common__about{
  padding: 15px;
}

.about__comparison02 img{
  width: 25%;
}

.to__about__container{
  width: 80%;
}

}

@media screen and (max-width: 480px){
  /* ここに426px以下向けのスタイルを記述 */

.about__container{
  width: 90%;
}

.about__table__container th{
  width: 30%;
}

.about__comparison01{
 display: block;
 justify-content: center;
}

.about__comparison__box img{
 width: 60%;
}

.about__comparison01{
  text-align: center;
}

}

@media screen and (max-width: 375px){
  /* ここに375px以下向けのスタイルを記述 */
.about__table__container th{
 padding: 10px;
}

.about__comparison__box img{
 width: 70%;
}

}

@media screen and (max-width: 320px){
  /* ここに320px以下向けのスタイルを記述 */
.common__about{
  padding: 10px;
}

}

/* -------------- */
/* secret.html CSS */
.secret__wrapper{
 cursor: url(img/niku4.png),auto;
} 

.box100{
  height: 300px;
}




