@charset "utf-8";


/* 秘密基地設定*/
.ballb{
  margin: 20px;
}

.ball{
margin: 30px;
}

.ball:hover{
animation: korokoro 2.5s linear 0s 1;
}

@keyframes korokoro {
  0%   { transform: translate(0%, 0%); }
  5%   { transform: translate(10%, 0%) rotate(10deg); }
  25%  { transform: translate(20%, 0%) rotate(20deg); }
  30%  { transform: translate(-10%, 0%) rotate(-10deg); }
  35%  { transform: translate(-15%, 0%) rotate(-15deg); }
  45%  { transform: translate(10%, 0%) rotate(10deg); }
  50%  { transform: translate(15%, 0%) rotate(15deg); }
  60%  { transform: translate(-5%, 0%) rotate(-5deg); }
  65%  { transform: translate(-7%, 0%) rotate(-7deg); }
  75%  { transform: translate(0%, 0%) rotate(0deg); }
  100% { transform: translate(0%, 0%) rotate(0deg); }
}

/*秘密基地マウスストーカー設定*/
.shine{
	position: fixed;
	top: -15px;
	left: -15px;
	width: 30px;
	height: 30px;
	background: url(img/niku1.png) 50% 50% no-repeat;
	background-size: contain;
	z-index: 2;
	animation: shine 2s ease-out 0s forwards;
}
 
@keyframes shine{
	0%{
		transform: translateY(0) rotate(-5deg);
		opacity: 0;
	}
	5%{
		opacity: 1;
	}
	80%{
		opacity: 1;
	}
	100%{
		transform: translateY(50px) rotate(5deg);
		opacity: 0;
	}
}



